.cart {
  margin-top: 100px;
}
.cart h3 {
  font-weight: 400;
}
.cart__heading {
  background: #f4f6f8;
  padding: 10px;
}
.cart__image img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.verticalAlign {
  align-items: center;
  margin-top: 10px;
}
.text-center {
  text-align: center;
}
.cart__remove {
  cursor: pointer;
}
.summary {
  padding-left: 10px;
}
.summary__heading {
  background: #f4f6f8;
  padding: 10px;
}
.summary__details {
  background: var(--main);
  color: var(--white);
  padding: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.checkout {
  border: none;
  cursor: pointer;
  outline: none;
  background: var(--white);
  color: var(--main);
  width: 100%;
  padding: 12px 5px;
  font-size: 17px;
  text-transform: uppercase;
}
@media (max-width: 765px) {
  .col-2 {
    width: 100%;
    text-align: center;
  }
  .cart__incDec {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .col-9 {
    width: 100%;
  }
  .cart__heading {
    display: none;
  }
  .summary-col {
    width: 100% !important;
  }
}
@media (max-width: 400px) {
  .col-2 {
    width: 100%;
  }
}
