* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1300px;
  margin: 0 auto;
}
:root {
  --white: #fff;
  --black: #000f;
  --main: #ff6e68;
}

@media (max-width: 765px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }
}
